#canvas {
    width:850px;
    height:500px;
    margin:0 auto;
}

.hospital {
    cursor: pointer;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

body {

    font-family: 'News Cycle', sans-serif;
}


h1, h2, h3, h4 {
    text-align: center;
}

.title {
    max-width:640px;
    margin:1em auto; 
}


.dropdown {
  padding: .5em;
  font-family: 'News Cycle', sans-serif;
}

.map-section{
    width: 100%;
    margin: 0 auto; 
    box-shadow: 4px 4px 7px 2px #888888;
    border:1px solid #a6a6a6;
    border-radius: 5px;
}

.container {
    border-radius: 5px; 
}

.placeholder {
    text-align: center;
    margin-top: 10em;
    font-weight: bold; 
}

#drg-select label {
    font-weight:normal;
}

#drg-select select {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 3px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: right center;
}

#main-map,
#more-info {
    float:left;
}

#main-map {
    width:850px;
    margin-right:10px;
}

#more-info {
    width:300px;
    margin-left:10px;
}

#hospital-details {
    padding:0 20px 20px;
}

#hospital-details rect {
    fill: #167DD2;
}

#hospital-details text {
    fill: #333;
    font: 12px sans-serif;
    text-anchor: middle;
}

#hospital-details .x-axis path,
#hospital-details .x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#hospital-details .bar-label {
    fill: #fff;
}
