#canvas {
    width:850px;
    height:500px;
    margin:0 auto;
}

.hospital {
    cursor: pointer;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

body {

    font-family: 'News Cycle', sans-serif;
}


h1, h2, .title {
    text-align: center;
}


.dropdown {
  padding: .5em;
  font-family: 'News Cycle', sans-serif;
}

.map-section{
    width: 100%;
    margin: 0 auto; 
    box-shadow: 4px 4px 4px 4px #888888;
    border-radius: 5px;
}

.container {
    border-radius: 5px; 
}

.placeholder {
    text-align: center;
    margin-top: 10em;
    font-weight: bold; 
}

#main-map,
#more-info {
    float:left;
}

#main-map {
    width:850px;
    margin-right:10px;
}

#more-info {
    width:300px;
    margin-left:10px;
}

#hospital-details {
    padding:0 20px 20px;
}

#hospital-details rect {
    fill: #167DD2;
}

#hospital-details text {
    fill: #333;
    font: 12px sans-serif;
    text-anchor: middle;
}

#hospital-details .x-axis path,
#hospital-details .x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#hospital-details .bar-label {
    fill: #fff;
}